@model PhotoFormModel

<div class="container pt-5">

    <button class="btn btn-light mb-3">
            <a class="text-warning text-decoration-none fw-bold" asp-area="" asp-controller="Photo" asp-action="Index">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <i class="fa-solid fa-person-walking-arrow-loop-left"></i>
                    <div>Torna alla Home</div>
                </div>
            </a>
    </button>

    <form asp-controller="Photo" asp-action="Create" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="mb-3">
           <div class="fw-bold">Nome:</div>
            <input asp-for="Photo.Title" class="d-block w-50" />
            <span asp-validation-for="Photo.Title" class="text-danger"></span>

        </div>
        <div class="mb-3">
           <div class="fw-bold">Descrizione:</div>
            <input asp-for="Photo.Description" class="d-block w-50" />
            <span asp-validation-for="Photo.Description" class="text-danger"></span>

        </div>
        <div class="mb-3">
           <div class="fw-bold">Link Immagine:</div>
            <input type="file" asp-for="ImageFile" class="d-block w-50" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="mb-3">
           <div class="fw-bold">Visibility:</div>
            <select asp-for="Photo.Visibility">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <span asp-validation-for="Photo.Visibility" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Categories:</label>
            @foreach (var cat in Model.Categories)
            {
                <div>
                    <input id="@cat.Value" type="checkbox" name="SelectedCategories" value="@cat.Value" />
                    <label for="@cat.Value">@cat.Text</label>
                </div>
            }
            <span asp-validation-for="SelectedCategories" class="text-danger"></span>
        </div>


        <div class="text-start mt-3">
            <input type="submit" class="btn btn-small btn-success" value="Salva">
        </div>
    </form>
</div>