@model List<Photo>
@{
    List<string> images = ViewData["Images"] as List<string>;
}

<div class="container py-3">
    <h3 class="text-center fw-bolder justify-content-center ">Your Photoes!</h3>

    <a class="text-dark text-decoration-none fw-bold btn btn-success text-center" asp-area="" asp-controller="Photo" asp-action="Create">Create</a>

    <ul class="d-flex flex-wrap justify-content-center align-items-center gap-3 list-unstyled">
        @{
            int i = 0;
        }
        @foreach(Photo photo in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Photo", new{id=@photo.Id})" style="text-decoration: none; color: black;">
                    <img src="data:image;base64,@images[i]" alt="photo" class="object-fit-cover border rounded" style="width:250px; height: 250px;"/>
                    <div class="d-flex justify-content-center align-items-center row mt-3">
                        <h5 class="text-center mb-5">@photo.Title</h5>
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <a href="@Url.Action("Update", "Photo", new {id = @photo.Id})">
                                <button class="btn-primary btn">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </a>
                            <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-arrow-up"></i>
                                </button>
                            </form>
                        </div>
                    </div>  
                </a>
            </li>
            i++;
        }
    </ul>
</div>